/* Roboto */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/Roboto/Roboto-Thin.ttf);
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 200;
  src: url(../fonts/Roboto/Roboto-Light.ttf);
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/Roboto/Roboto-Black.ttf);
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 100;
  src: url(../fonts/Roboto/Roboto-ThinItalic.ttf);
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 200;
  src: url(../fonts/Roboto/Roboto-LightItalic.ttf);
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src: url(../fonts/Roboto/Roboto-Italic.ttf);
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/Roboto/Roboto-MediumItalic.ttf);
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  src: url(../fonts/Roboto/Roboto-BoldItalic.ttf);
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 600;
  src: url(../fonts/Roboto/Roboto-BlackItalic.ttf);
}

/* Style reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
  /*  compensates rounding errors, in particular in older versions of Opera and Safari */
  font-size: 100.01%;
}

body {
  /* use em like px */
  font-size: 62.5%;
  color: #333333;
}

body > * {
  font-size: 1rem;
}

/* custom style */

article {
  padding: 3rem;
}

header {
  position: relative;
}

header article {
  background: #2b2b2b;
  color: #d2d2d2;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 5rem;
  text-transform: UPPERCASE;
  padding-bottom: 8rem;
}

header h1 {
  color: #e08600;
}

header .col-content {
  color: #d2d2d2;
  font-size: 3rem;
  font-weight: 100;
}

#short {
  background: #e08600;
  font-weight: 500;
  letter-spacing: -0.5px;
  color: #2b2b2b;
  font-size: 2.5rem;
  transition: background 1s ease-in-out;
}

#short:hover {
  background: orange;
}

#backgroundText {
  position: absolute;
  max-height: 100%;
  overflow: hidden;
}

#services {
  background: #eaeaea;
}

#services p {
  font-style: italic;
}

#services h2 {
  text-transform: uppercase;
  font-weight: 700;
  color: #bfbfbf;
  letter-spacing: 3px;
  font-size: 2rem;
  margin-bottom: 1rem;
}

#services i {
  padding: 2rem 3rem;
  font-size: 6rem;
  background: #d8d8d8;
  color: #e08600;
  vertical-align: top;
  transition: background 1s ease-in-out;
}

#services i.fa:hover {
  background: orange;
  color: white;
}

.service-content {
  display: inline-block;
  width: calc(100% - 200px);
  vertical-align: top;
  padding: 0.5rem 1rem;
}

.service-content h3 {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

#testimonials i {
  font-size: 1.2rem;
  color: #d8d8d8;
  margin: 0px 3px;
}

span.client {
  margin-top: 0.5rem;
  display: block;
  font-weight: 700;
}

footer {
  background: #2b2b2b;
  color: #bfbfbf;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 2rem;
  text-transform: UPPERCASE;
  padding-bottom: 8rem;
}

/* media querries */

@media screen and (max-width: 767px) {
  html {
    font-size: 200%;
  }
}

@media screen and (max-width: 991px) {
  html {
    font-size: 150.01%;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 100.01%;
  }
}

@media screen and (max-width: 1500px) {
}

@media screen and (min-width: 1501px) and (max-width: 2559px) {
}

@media screen and (min-width: 1921px) {
}

@media screen and (min-width: 2560px) and (max-width: 2879px) {
  html {
    font-size: 150.01%;
  }
}

@media screen and (min-width: 2880px) and (max-width: 3400px) {
  html {
    font-size: 180.01%;
  }
}

@media screen and (min-width: 3401px) and (max-width: 3839px) {
  html {
    font-size: 230.01%;
  }
}

@media screen and (min-width: 3840px) {
  html {
    font-size: 230.01%;
  }
}
